Debug
Release
ipch
Competition.vs2012.opensdf
Competition.vs2012.sdf
Competition.vs2012.v11.suo
Competition/Competition.vs2012.vcxproj.user
Competition.vs2013.opensdf
Competition.vs2013.sdf
Competition.vs2013.v12.suo
Competition/Competition.vs2013.vcxproj.user